.footer {
  background: rgba(8, 68, 91, 1);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  padding: var(--token-oW80B2Q_Cufz) var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 768px) {
  .footer {
    padding-left: 140px;
    padding-right: 140px;
  }
}
.columns {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.column {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.logoWrapper {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.logoWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.logoWrapper > :global(.__wab_flex-container) > *,
.logoWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.logoWrapper > :global(.__wab_flex-container) > picture > img,
.logoWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.link__xJRs {
  display: block;
  font-size: 16px;
  text-transform: lowercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 100%;
  position: relative;
  color: var(--token-pwMbOFqUx);
}
.text__p6I34 {
  display: block;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.506;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.smallColumns {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.smallColumns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.smallColumns > :global(.__wab_flex-container) > *,
.smallColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.smallColumns > :global(.__wab_flex-container) > picture > img,
.smallColumns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 768px) {
  .smallColumns {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .smallColumns > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .smallColumns > :global(.__wab_flex-container) > *,
  .smallColumns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .smallColumns > :global(.__wab_flex-container) > picture > img,
  .smallColumns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.column2 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  width: auto;
  flex-shrink: 0;
}
.column2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column2 > :global(.__wab_flex-container) > *,
.column2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column2 > :global(.__wab_flex-container) > picture > img,
.column2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .column2 {
    flex-grow: 1;
  }
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: auto;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__d2Ej7 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.footerLinks {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinks > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.footerLinks > :global(.__wab_flex-container) > *,
.footerLinks > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLinks > :global(.__wab_flex-container) > picture > img,
.footerLinks
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link2 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link3 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link4 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link10 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.column3 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .column3 {
    flex-grow: 1;
    flex-shrink: 0;
  }
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oubL7 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.footerLinks2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinks2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.footerLinks2 > :global(.__wab_flex-container) > *,
.footerLinks2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLinks2 > :global(.__wab_flex-container) > picture > img,
.footerLinks2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link5 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link6 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link7 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.column4 {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.column4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column4 > :global(.__wab_flex-container) > *,
.column4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column4 > :global(.__wab_flex-container) > picture > img,
.column4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .column4 {
    flex-shrink: 0;
  }
}
.content3 {
  height: auto;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  display: none;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__q0B8 {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 1.5;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.footerLinks3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.footerLinks3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.footerLinks3 > :global(.__wab_flex-container) > *,
.footerLinks3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footerLinks3 > :global(.__wab_flex-container) > picture > img,
.footerLinks3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.link8 {
  display: block;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.506;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.link9 {
  display: block;
  font-size: 14px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.6315;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.copyright {
  filter: drop-shadow(0px -1px 0px rgba(227, 234, 242, 1));
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 30px;
  min-width: 0;
}
.copyright > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.copyright > :global(.__wab_flex-container) > *,
.copyright > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copyright > :global(.__wab_flex-container) > picture > img,
.copyright
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
.group21 {
  width: 120px;
  display: block;
  position: relative;
  align-self: stretch;
}
.frame2 {
  width: auto;
  height: 21px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: row;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.link__mMnp {
  position: relative;
  display: flex;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  display: block;
  font-size: 14px;
  text-align: right;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.506;
  color: rgba(255, 255, 255, 1);
  position: relative;
  align-self: flex-end;
}
