.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__a3GW {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 30px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__a3GW > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .section__a3GW > * {
    grid-column: 4;
  }
}
.text__qEYyH {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: var(--token-bAdFm1qx460f);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__hocV0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__hocV0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
  height: calc(100% + var(--token-Tf_KtjkxGdsv));
}
.freeBox__hocV0 > :global(.__wab_flex-container) > *,
.freeBox__hocV0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hocV0 > :global(.__wab_flex-container) > picture > img,
.freeBox__hocV0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Tf_KtjkxGdsv);
}
@media (min-width: 768px) {
  .freeBox__hocV0 {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox__hocV0 > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__hocV0 > :global(.__wab_flex-container) > *,
  .freeBox__hocV0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hocV0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__hocV0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.text__cFvDh {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-bAdFm1qx460f);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__qx16V {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-bAdFm1qx460f);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__s83FP {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--token-bAdFm1qx460f);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.section___2Cpe5 {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0;
}
.section___2Cpe5 > * {
  grid-column: 4;
}
.freeBox__f2Ziw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__f2Ziw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-Tf_KtjkxGdsv));
  height: calc(100% + var(--token-Tf_KtjkxGdsv));
}
.freeBox__f2Ziw > :global(.__wab_flex-container) > *,
.freeBox__f2Ziw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f2Ziw > :global(.__wab_flex-container) > picture > img,
.freeBox__f2Ziw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Tf_KtjkxGdsv);
}
@media (min-width: 768px) {
  .freeBox__f2Ziw {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox__f2Ziw > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__f2Ziw > :global(.__wab_flex-container) > *,
  .freeBox__f2Ziw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__f2Ziw > :global(.__wab_flex-container) > picture > img,
  .freeBox__f2Ziw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.text__cJ0L0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  color: var(--token-kY083Rb4XMT2);
  min-width: 0;
}
.freeBox__d8Efz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__d8Efz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vvTBadrk1muM));
  height: calc(100% + var(--token-vvTBadrk1muM));
}
.freeBox__d8Efz > :global(.__wab_flex-container) > *,
.freeBox__d8Efz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d8Efz > :global(.__wab_flex-container) > picture > img,
.freeBox__d8Efz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vvTBadrk1muM);
}
.text__b3NyJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__r1LVr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__r1LVr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-oYI7ebdZitcv));
  height: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox__r1LVr > :global(.__wab_flex-container) > *,
.freeBox__r1LVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r1LVr > :global(.__wab_flex-container) > picture > img,
.freeBox__r1LVr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-oYI7ebdZitcv);
}
@media (min-width: 768px) {
  .freeBox__r1LVr {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox__r1LVr > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__r1LVr > :global(.__wab_flex-container) > *,
  .freeBox__r1LVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r1LVr > :global(.__wab_flex-container) > picture > img,
  .freeBox__r1LVr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.metricItem__dByhp:global(.__wab_instance) {
  position: relative;
}
.metricItem__iEtW4:global(.__wab_instance) {
  position: relative;
}
.metricItem__avUve:global(.__wab_instance) {
  position: relative;
}
.text__mnZSh {
  text-transform: capitalize;
}
.section__urOhm {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 30px 0 var(--token-yH7NHVEkDLmt);
}
.section__urOhm > * {
  grid-column: 4;
}
.freeBox___35E5O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___35E5O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.freeBox___35E5O > :global(.__wab_flex-container) > *,
.freeBox___35E5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___35E5O > :global(.__wab_flex-container) > picture > img,
.freeBox___35E5O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 768px) {
  .freeBox___35E5O {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox___35E5O > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox___35E5O > :global(.__wab_flex-container) > *,
  .freeBox___35E5O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___35E5O > :global(.__wab_flex-container) > picture > img,
  .freeBox___35E5O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.feature__me2OK:global(.__wab_instance) {
  position: relative;
}
.svg___53Jid {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kY083Rb4XMT2);
  width: 30px;
  height: 30px;
}
.feature__qwUa5:global(.__wab_instance) {
  position: relative;
}
.svg__oiD7R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kY083Rb4XMT2);
  width: 30px;
  height: 30px;
}
.feature__g1Z0B:global(.__wab_instance) {
  position: relative;
}
.svg__s6EGd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kY083Rb4XMT2);
  width: 30px;
  height: 30px;
}
.section__kl8Gq {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-Xt5BcNRoi2kD);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-yH7NHVEkDLmt) 0;
}
.section__kl8Gq > * {
  grid-column: 4;
}
.plansPage:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.section__t8Bkv {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-YwtVyY4mIFAX);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-yH7NHVEkDLmt) 0;
}
.section__t8Bkv > * {
  grid-column: 4;
}
.freeBox___5DSzk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___5DSzk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.freeBox___5DSzk > :global(.__wab_flex-container) > *,
.freeBox___5DSzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5DSzk > :global(.__wab_flex-container) > picture > img,
.freeBox___5DSzk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 768px) {
  .freeBox___5DSzk {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox___5DSzk > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox___5DSzk > :global(.__wab_flex-container) > *,
  .freeBox___5DSzk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5DSzk > :global(.__wab_flex-container) > picture > img,
  .freeBox___5DSzk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.freeBox__kwKO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__kwKO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vvTBadrk1muM));
  height: calc(100% + var(--token-vvTBadrk1muM));
}
.freeBox__kwKO > :global(.__wab_flex-container) > *,
.freeBox__kwKO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kwKO > :global(.__wab_flex-container) > picture > img,
.freeBox__kwKO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vvTBadrk1muM);
}
.text__lackd {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-RHsf9Urswwg4);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text___61Fm2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-0qH136d6e9uq);
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.button2__wvvw2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__g3QeQ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6DPaV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__xAuIu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 220px;
  padding: 8px;
}
.img__n8StZ {
  object-fit: cover;
  max-width: 100%;
}
.img__n8StZ > picture > img {
  object-fit: cover;
}
.img__n8StZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section__hPce {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: var(--token-Xt5BcNRoi2kD);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-yH7NHVEkDLmt) 0;
}
.section__hPce > * {
  grid-column: 4;
}
.text__swp7Q {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #001233cc;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__n63Ve {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__n63Ve > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-yH7NHVEkDLmt));
  height: calc(100% + var(--token-yH7NHVEkDLmt));
}
.freeBox__n63Ve > :global(.__wab_flex-container) > *,
.freeBox__n63Ve > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n63Ve > :global(.__wab_flex-container) > picture > img,
.freeBox__n63Ve
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-yH7NHVEkDLmt);
}
@media (min-width: 768px) {
  .freeBox__n63Ve {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox__n63Ve > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__n63Ve > :global(.__wab_flex-container) > *,
  .freeBox__n63Ve > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n63Ve > :global(.__wab_flex-container) > picture > img,
  .freeBox__n63Ve
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.testimonial2___47IIa:global(.__wab_instance) {
  position: relative;
}
.img__zacu6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-yH7NHVEkDLmt);
  width: var(--token-yH7NHVEkDLmt);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img__zacu6 > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.img__zacu6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial2__icJf2:global(.__wab_instance) {
  position: relative;
}
.img___0AUs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-yH7NHVEkDLmt);
  width: var(--token-yH7NHVEkDLmt);
  object-position: 50% 10%;
  border-radius: 100%;
}
.img___0AUs > picture > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.img___0AUs > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 10%;
}
.testimonial2__x5F1W:global(.__wab_instance) {
  position: relative;
}
.img__zg1PH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-yH7NHVEkDLmt);
  width: var(--token-yH7NHVEkDLmt);
  object-position: 50% 50%;
  border-radius: 100%;
}
.img__zg1PH > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.img__zg1PH > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: 50% 50%;
}
.section__tct0K {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  background: var(--token-YwtVyY4mIFAX);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-yH7NHVEkDLmt) 0;
}
.section__tct0K > * {
  grid-column: 4;
}
.freeBox__eAnf {
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox__eAnf > :global(.__wab_flex-container) {
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - var(--token-Kzvu_5ZcCKzb));
  height: calc(100% + var(--token-Kzvu_5ZcCKzb));
}
.freeBox__eAnf > :global(.__wab_flex-container) > *,
.freeBox__eAnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eAnf > :global(.__wab_flex-container) > picture > img,
.freeBox__eAnf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Kzvu_5ZcCKzb);
}
@media (min-width: 768px) {
  .freeBox__eAnf {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .freeBox__eAnf > :global(.__wab_flex-container) {
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 768px) {
  .freeBox__eAnf > :global(.__wab_flex-container) > *,
  .freeBox__eAnf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eAnf > :global(.__wab_flex-container) > picture > img,
  .freeBox__eAnf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.freeBox__yGcm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  max-width: 630px;
  padding: 8px;
}
.img__eYvi6 {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__eYvi6 > picture > img {
  object-fit: cover;
}
.img__eYvi6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__m0NMw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 560px;
  min-width: 0;
}
.freeBox__m0NMw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-vvTBadrk1muM));
  height: calc(100% + var(--token-vvTBadrk1muM));
}
.freeBox__m0NMw > :global(.__wab_flex-container) > *,
.freeBox__m0NMw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m0NMw > :global(.__wab_flex-container) > picture > img,
.freeBox__m0NMw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-vvTBadrk1muM);
}
.text__wCqm3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: var(--token-RHsf9Urswwg4);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__jeNd1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-0qH136d6e9uq);
}
.button2__o6SwX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__lyAot {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__cpnhN {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
