@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Mulish%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-Bqv1zA_dK: #434343b3;
  --plasmic-token-paragraph-text: var(--token-Bqv1zA_dK);
  --token-9kBlSGEtU: #434343e6;
  --plasmic-token-bolder-text: var(--token-9kBlSGEtU);
  --token-jDkFCCM00: #20bbf6;
  --plasmic-token-primary: var(--token-jDkFCCM00);
  --token-GDzmz3pS9: 10px;
  --plasmic-token-space-10: var(--token-GDzmz3pS9);
  --token-zgu5h3WX-: 4px;
  --plasmic-token-spacing-4: var(--token-zgu5h3WX-);
  --token-8QQqI_AdL: 30px;
  --plasmic-token-spacing-30: var(--token-8QQqI_AdL);
  --token-VAo04VuJp: #f9f9f9;
  --plasmic-token-gray: var(--token-VAo04VuJp);
  --token-pwMbOFqUx: #ffffff;
  --plasmic-token-white: var(--token-pwMbOFqUx);
  --token-Ke5VkpYIY: 20px;
  --plasmic-token-spacing-20: var(--token-Ke5VkpYIY);
  --token-ymIO6hQFtfbC: #434343;
  --plasmic-token-black-text: var(--token-ymIO6hQFtfbC);
  --token-xQClsMEhYKBd: #d3f2ff;
  --plasmic-token-light-blue: var(--token-xQClsMEhYKBd);
  --token-n9aymnTF_YK3: 140px;
  --plasmic-token-spacing-140: var(--token-n9aymnTF_YK3);
  --token-bAdFm1qx460f: #434343cc;
  --plasmic-token-dark-navy-blue: var(--token-bAdFm1qx460f);
  --token-kY083Rb4XMT2: #434343;
  --plasmic-token-dark-text: var(--token-kY083Rb4XMT2);
  --token-vvTBadrk1muM: 10px;
  --plasmic-token-spacing-sm: var(--token-vvTBadrk1muM);
  --token-yH7NHVEkDLmt: 30px;
  --plasmic-token-spacing-md: var(--token-yH7NHVEkDLmt);
  --token-Xt5BcNRoi2kD: 20px;
  --plasmic-token-spacing-21: var(--token-Xt5BcNRoi2kD);
  --token-YwtVyY4mIFAX: #20bbf6;
  --plasmic-token-primary-blue: var(--token-YwtVyY4mIFAX);
  --token-RHsf9Urswwg4: #ffffff;
  --plasmic-token-white-2: var(--token-RHsf9Urswwg4);
  --token-0qH136d6e9uq: #ffffffcc;
  --plasmic-token-text-white: var(--token-0qH136d6e9uq);
  --token-kjs2d2wAbP5Z: #434343;
  --plasmic-token-unnamed-style-token: var(--token-kjs2d2wAbP5Z);
  --token-PRFYVvO7cPWC: #f4f4f4;
  --plasmic-token-light-gray: var(--token-PRFYVvO7cPWC);
  --token-VDiofgvMzaS8: #00cccc;
  --plasmic-token-teal: var(--token-VDiofgvMzaS8);
  --token-E-oJUDFPSKjK: #00ffff;
  --plasmic-token-light-teal: var(--token-E-oJUDFPSKjK);
  --token-poO92CcUDxvU: #20bbf6;
  --plasmic-token-primary-2: var(--token-poO92CcUDxvU);
  --token-PcB_VOdOGI2g: #535353;
  --plasmic-token-dark: var(--token-PcB_VOdOGI2g);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-SjWAQTghqyo_font-family: "Inter", sans-serif;
  --mixin-SjWAQTghqyo_font-size: 18px;
  --mixin-SjWAQTghqyo_font-weight: 400;
  --mixin-SjWAQTghqyo_font-style: normal;
  --mixin-SjWAQTghqyo_color: var(--token-ymIO6hQFtfbC);
  --mixin-SjWAQTghqyo_text-align: left;
  --mixin-SjWAQTghqyo_text-transform: none;
  --mixin-SjWAQTghqyo_line-height: 1.5;
  --mixin-SjWAQTghqyo_letter-spacing: normal;
  --mixin-SjWAQTghqyo_white-space: pre-wrap;
  --mixin-SjWAQTghqyo_user-select: text;
  --mixin-SjWAQTghqyo_text-decoration-line: none;
  --mixin-SjWAQTghqyo_text-overflow: clip;
  --mixin-XC8Xdld0F_M_color: #000000;
  --mixin-XC8Xdld0F_M_font-size: 24px;
  --mixin-XC8Xdld0F_M_font-weight: 600;
  --mixin-XC8Xdld0F_M_letter-spacing: -0.5px;
  --mixin-XC8Xdld0F_M_line-height: 1.3;
  --mixin-XC8Xdld0F_M_white-space: pre-wrap;
  --mixin-VrK9APvaoHo_color: #000000;
  --mixin-VrK9APvaoHo_font-size: 20px;
  --mixin-VrK9APvaoHo_font-weight: 600;
  --mixin-VrK9APvaoHo_letter-spacing: -0.3px;
  --mixin-VrK9APvaoHo_line-height: 1.5;
  --mixin-VrK9APvaoHo_white-space: pre-wrap;
  --mixin-KcOlZFjgBjl_color: #000000;
  --mixin-KcOlZFjgBjl_font-size: 16px;
  --mixin-KcOlZFjgBjl_font-weight: 600;
  --mixin-KcOlZFjgBjl_line-height: 1.5;
  --mixin-KcOlZFjgBjl_white-space: pre-wrap;
  --mixin-77OXI1SyT2X_color: #0070f3;
  --mixin-77OXI1SyT2X_white-space: pre-wrap;
  --mixin-suuLPN0pZSM_border-left-color: #dddddd;
  --mixin-suuLPN0pZSM_border-left-style: solid;
  --mixin-suuLPN0pZSM_border-left-width: 3px;
  --mixin-suuLPN0pZSM_color: #888888;
  --mixin-suuLPN0pZSM_padding-left: 10px;
  --mixin-suuLPN0pZSM_white-space: pre-wrap;
  --mixin-IQGbFp0owU7_color: #000000;
  --mixin-IQGbFp0owU7_font-size: 64px;
  --mixin-IQGbFp0owU7_font-weight: 700;
  --mixin-IQGbFp0owU7_letter-spacing: -1px;
  --mixin-IQGbFp0owU7_line-height: 1;
  --mixin-IQGbFp0owU7_white-space: pre-wrap;
  --mixin-v9UwrDVZRka_color: #000000;
  --mixin-v9UwrDVZRka_font-size: 48px;
  --mixin-v9UwrDVZRka_font-weight: 700;
  --mixin-v9UwrDVZRka_line-height: 1.1;
  --mixin-v9UwrDVZRka_letter-spacing: -0.5px;
  --mixin-v9UwrDVZRka_white-space: pre-wrap;
  --mixin-0MaJcd6uUJx_color: #000000;
  --mixin-0MaJcd6uUJx_font-size: 32px;
  --mixin-0MaJcd6uUJx_font-weight: 600;
  --mixin-0MaJcd6uUJx_line-height: 1.2;
  --mixin-0MaJcd6uUJx_white-space: pre-wrap;
  --mixin-hxD3i37tbz6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-hxD3i37tbz6_border-bottom-color: #dddddd;
  --mixin-hxD3i37tbz6_border-bottom-style: solid;
  --mixin-hxD3i37tbz6_border-bottom-width: 1px;
  --mixin-hxD3i37tbz6_border-left-color: #dddddd;
  --mixin-hxD3i37tbz6_border-left-style: solid;
  --mixin-hxD3i37tbz6_border-left-width: 1px;
  --mixin-hxD3i37tbz6_border-right-color: #dddddd;
  --mixin-hxD3i37tbz6_border-right-style: solid;
  --mixin-hxD3i37tbz6_border-right-width: 1px;
  --mixin-hxD3i37tbz6_border-top-color: #dddddd;
  --mixin-hxD3i37tbz6_border-top-style: solid;
  --mixin-hxD3i37tbz6_border-top-width: 1px;
  --mixin-hxD3i37tbz6_border-bottom-left-radius: 3px;
  --mixin-hxD3i37tbz6_border-bottom-right-radius: 3px;
  --mixin-hxD3i37tbz6_border-top-left-radius: 3px;
  --mixin-hxD3i37tbz6_border-top-right-radius: 3px;
  --mixin-hxD3i37tbz6_font-family: "Inconsolata";
  --mixin-hxD3i37tbz6_padding-bottom: 1px;
  --mixin-hxD3i37tbz6_padding-left: 4px;
  --mixin-hxD3i37tbz6_padding-right: 4px;
  --mixin-hxD3i37tbz6_padding-top: 1px;
  --mixin-hxD3i37tbz6_white-space: pre-wrap;
  --mixin-In_H_zaJ_4F_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-In_H_zaJ_4F_border-bottom-color: #dddddd;
  --mixin-In_H_zaJ_4F_border-bottom-style: solid;
  --mixin-In_H_zaJ_4F_border-bottom-width: 1px;
  --mixin-In_H_zaJ_4F_border-left-color: #dddddd;
  --mixin-In_H_zaJ_4F_border-left-style: solid;
  --mixin-In_H_zaJ_4F_border-left-width: 1px;
  --mixin-In_H_zaJ_4F_border-right-color: #dddddd;
  --mixin-In_H_zaJ_4F_border-right-style: solid;
  --mixin-In_H_zaJ_4F_border-right-width: 1px;
  --mixin-In_H_zaJ_4F_border-top-color: #dddddd;
  --mixin-In_H_zaJ_4F_border-top-style: solid;
  --mixin-In_H_zaJ_4F_border-top-width: 1px;
  --mixin-In_H_zaJ_4F_border-bottom-left-radius: 3px;
  --mixin-In_H_zaJ_4F_border-bottom-right-radius: 3px;
  --mixin-In_H_zaJ_4F_border-top-left-radius: 3px;
  --mixin-In_H_zaJ_4F_border-top-right-radius: 3px;
  --mixin-In_H_zaJ_4F_font-family: "Inconsolata";
  --mixin-In_H_zaJ_4F_padding-bottom: 3px;
  --mixin-In_H_zaJ_4F_padding-left: 6px;
  --mixin-In_H_zaJ_4F_padding-right: 6px;
  --mixin-In_H_zaJ_4F_padding-top: 3px;
  --mixin-In_H_zaJ_4F_white-space: pre-wrap;
  --mixin-jOX9_3uu98M_display: flex;
  --mixin-jOX9_3uu98M_flex-direction: column;
  --mixin-jOX9_3uu98M_align-items: stretch;
  --mixin-jOX9_3uu98M_justify-content: flex-start;
  --mixin-jOX9_3uu98M_list-style-position: outside;
  --mixin-jOX9_3uu98M_padding-left: 40px;
  --mixin-jOX9_3uu98M_position: relative;
  --mixin-jOX9_3uu98M_list-style-type: decimal;
  --mixin-jOX9_3uu98M_white-space: pre-wrap;
  --mixin-5k5mUdxxQRm_display: flex;
  --mixin-5k5mUdxxQRm_flex-direction: column;
  --mixin-5k5mUdxxQRm_align-items: stretch;
  --mixin-5k5mUdxxQRm_justify-content: flex-start;
  --mixin-5k5mUdxxQRm_list-style-position: outside;
  --mixin-5k5mUdxxQRm_padding-left: 40px;
  --mixin-5k5mUdxxQRm_position: relative;
  --mixin-5k5mUdxxQRm_list-style-type: disc;
  --mixin-5k5mUdxxQRm_white-space: pre-wrap;
  --mixin-RUePwi6mGph_color: #3291ff;
  --mixin-RUePwi6mGph_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-SjWAQTghqyo_font-family);
  font-size: var(--mixin-SjWAQTghqyo_font-size);
  font-weight: var(--mixin-SjWAQTghqyo_font-weight);
  font-style: var(--mixin-SjWAQTghqyo_font-style);
  color: var(--mixin-SjWAQTghqyo_color);
  text-align: var(--mixin-SjWAQTghqyo_text-align);
  text-transform: var(--mixin-SjWAQTghqyo_text-transform);
  line-height: var(--mixin-SjWAQTghqyo_line-height);
  letter-spacing: var(--mixin-SjWAQTghqyo_letter-spacing);
  white-space: var(--mixin-SjWAQTghqyo_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-XC8Xdld0F_M_color);
  font-size: var(--mixin-XC8Xdld0F_M_font-size);
  font-weight: var(--mixin-XC8Xdld0F_M_font-weight);
  letter-spacing: var(--mixin-XC8Xdld0F_M_letter-spacing);
  line-height: var(--mixin-XC8Xdld0F_M_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-VrK9APvaoHo_color);
  font-size: var(--mixin-VrK9APvaoHo_font-size);
  font-weight: var(--mixin-VrK9APvaoHo_font-weight);
  letter-spacing: var(--mixin-VrK9APvaoHo_letter-spacing);
  line-height: var(--mixin-VrK9APvaoHo_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-KcOlZFjgBjl_color);
  font-size: var(--mixin-KcOlZFjgBjl_font-size);
  font-weight: var(--mixin-KcOlZFjgBjl_font-weight);
  line-height: var(--mixin-KcOlZFjgBjl_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-77OXI1SyT2X_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-suuLPN0pZSM_color);
  padding-left: var(--mixin-suuLPN0pZSM_padding-left);
  border-left: var(--mixin-suuLPN0pZSM_border-left-width)
    var(--mixin-suuLPN0pZSM_border-left-style)
    var(--mixin-suuLPN0pZSM_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-IQGbFp0owU7_color);
  font-size: var(--mixin-IQGbFp0owU7_font-size);
  font-weight: var(--mixin-IQGbFp0owU7_font-weight);
  letter-spacing: var(--mixin-IQGbFp0owU7_letter-spacing);
  line-height: var(--mixin-IQGbFp0owU7_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-v9UwrDVZRka_color);
  font-size: var(--mixin-v9UwrDVZRka_font-size);
  font-weight: var(--mixin-v9UwrDVZRka_font-weight);
  line-height: var(--mixin-v9UwrDVZRka_line-height);
  letter-spacing: var(--mixin-v9UwrDVZRka_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-0MaJcd6uUJx_color);
  font-size: var(--mixin-0MaJcd6uUJx_font-size);
  font-weight: var(--mixin-0MaJcd6uUJx_font-weight);
  line-height: var(--mixin-0MaJcd6uUJx_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-hxD3i37tbz6_font-family);
  border-radius: var(--mixin-hxD3i37tbz6_border-top-left-radius)
    var(--mixin-hxD3i37tbz6_border-top-right-radius)
    var(--mixin-hxD3i37tbz6_border-bottom-right-radius)
    var(--mixin-hxD3i37tbz6_border-bottom-left-radius);
  padding: var(--mixin-hxD3i37tbz6_padding-top)
    var(--mixin-hxD3i37tbz6_padding-right)
    var(--mixin-hxD3i37tbz6_padding-bottom)
    var(--mixin-hxD3i37tbz6_padding-left);
  border-top: var(--mixin-hxD3i37tbz6_border-top-width)
    var(--mixin-hxD3i37tbz6_border-top-style)
    var(--mixin-hxD3i37tbz6_border-top-color);
  border-right: var(--mixin-hxD3i37tbz6_border-right-width)
    var(--mixin-hxD3i37tbz6_border-right-style)
    var(--mixin-hxD3i37tbz6_border-right-color);
  border-bottom: var(--mixin-hxD3i37tbz6_border-bottom-width)
    var(--mixin-hxD3i37tbz6_border-bottom-style)
    var(--mixin-hxD3i37tbz6_border-bottom-color);
  border-left: var(--mixin-hxD3i37tbz6_border-left-width)
    var(--mixin-hxD3i37tbz6_border-left-style)
    var(--mixin-hxD3i37tbz6_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-In_H_zaJ_4F_font-family);
  border-radius: var(--mixin-In_H_zaJ_4F_border-top-left-radius)
    var(--mixin-In_H_zaJ_4F_border-top-right-radius)
    var(--mixin-In_H_zaJ_4F_border-bottom-right-radius)
    var(--mixin-In_H_zaJ_4F_border-bottom-left-radius);
  padding: var(--mixin-In_H_zaJ_4F_padding-top)
    var(--mixin-In_H_zaJ_4F_padding-right)
    var(--mixin-In_H_zaJ_4F_padding-bottom)
    var(--mixin-In_H_zaJ_4F_padding-left);
  border-top: var(--mixin-In_H_zaJ_4F_border-top-width)
    var(--mixin-In_H_zaJ_4F_border-top-style)
    var(--mixin-In_H_zaJ_4F_border-top-color);
  border-right: var(--mixin-In_H_zaJ_4F_border-right-width)
    var(--mixin-In_H_zaJ_4F_border-right-style)
    var(--mixin-In_H_zaJ_4F_border-right-color);
  border-bottom: var(--mixin-In_H_zaJ_4F_border-bottom-width)
    var(--mixin-In_H_zaJ_4F_border-bottom-style)
    var(--mixin-In_H_zaJ_4F_border-bottom-color);
  border-left: var(--mixin-In_H_zaJ_4F_border-left-width)
    var(--mixin-In_H_zaJ_4F_border-left-style)
    var(--mixin-In_H_zaJ_4F_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-jOX9_3uu98M_display);
  flex-direction: var(--mixin-jOX9_3uu98M_flex-direction);
  align-items: var(--mixin-jOX9_3uu98M_align-items);
  justify-content: var(--mixin-jOX9_3uu98M_justify-content);
  list-style-position: var(--mixin-jOX9_3uu98M_list-style-position);
  padding-left: var(--mixin-jOX9_3uu98M_padding-left);
  position: var(--mixin-jOX9_3uu98M_position);
  list-style-type: var(--mixin-jOX9_3uu98M_list-style-type);
  flex-column-gap: var(--mixin-jOX9_3uu98M_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-5k5mUdxxQRm_display);
  flex-direction: var(--mixin-5k5mUdxxQRm_flex-direction);
  align-items: var(--mixin-5k5mUdxxQRm_align-items);
  justify-content: var(--mixin-5k5mUdxxQRm_justify-content);
  list-style-position: var(--mixin-5k5mUdxxQRm_list-style-position);
  padding-left: var(--mixin-5k5mUdxxQRm_padding-left);
  position: var(--mixin-5k5mUdxxQRm_position);
  list-style-type: var(--mixin-5k5mUdxxQRm_list-style-type);
  flex-column-gap: var(--mixin-5k5mUdxxQRm_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-RUePwi6mGph_color);
}
